

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

body {
  background-color: white;
  color:  white;
  
}

header {
  position: relative;
  background-color: #359D32;
  padding-bottom: 15px;
}

.centered-elements {
  display: flex;
  justify-content: center
}

.element {
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}
.element a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.right-element {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 15px;
  cursor: pointer;
  color: white;
}

.left-element {
  position: absolute;
  top: 0;
  right: 1;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
  color: white;
}

.left-element a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.right-element a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.main-div {
  display: flex;
  justify-content: center;
  background-color: #90D379;
  width: 1413px;
  height: 410px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  flex-direction: column;
  align-items: center; 
  color: white;

}
.Content {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  display: flex;
  width: 960px;
  height: 201px;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 50px;
  color: white;

}

.Content .Content-text {
  margin-bottom: 10px;
}

.Auto {
  margin-bottom: 20px;
}

.FormContainer .p-abus {
  margin-top: 10px;
}


.FormContainer {
  background-color: #359D32;
  height: 120px;
}

.horizontal-form {
  display: flex;
  margin-top: 14px;
}

.horizontal-form select  {
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
  width: 200px;
}

.horizontal-form input {

  margin-right: 10px;
  margin-left: 10px;
  height: 50px;

} 

.horizontal-form button {

  margin-right: 10px;
  margin-left: 10px;
  background-color: #F48825;
  border-radius: 10%;
  border-color: #F48825;

} 

.main-div2 {
  display: flex;
  width: 1113px;
  height: 410px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  flex-direction: column;
  color: black;
  margin-top: 10px;
}
.main-div2 p {
  margin-top: 10px;
}
.main-div2 h2 {
  margin-top: 10px;
} 

.footer {
  height: 50px;
  width: 100%;
  background-color: #90D379;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-self: center;
  position: absolute;
  bottom: 0;
}

.sidebar {
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  height: 200px;
  width: 250px;
  float: right;
}

.sidebar p {
  color: #35669E;
  font-size: 20px;
  font-family: Inter;
  margin: 5px 5px;
}
.sidebar h4 {
  color: black;
  font-size: 14px;
  font-family: Inter;
}

.p-1 {
  color: red;
}

.main-div2 h2 {
  color: red;
}

.News_page {
  padding-top: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  color: black;
  font-size: 30px;
}
.Informantion_page {
  color: black;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 60px;
}
.Informantion_page p {
  margin: 10px 10px;
}

.Form2 {
  color: #000;
  background-color: #359D32;
  width:  500px;
}


.form-2 {
  max-width: 400px;
  margin: 50px auto;
  color: black;

}

.form-row {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label1 {
  display: inline-block;
  margin-right: 65px;
  font-weight: bold;
}

.label2 {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
.label3 {
  display: inline-block;
  margin-right: 55px;
  font-weight: bold;
}
.label4 {
  display: inline-block;
  margin-right: 37px;
  font-weight: bold;
}
.label5 {
  display: inline-block;
  margin-right: 1px;
  font-weight: bold;
}

.form-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-checkbox {
  margin-right: 5px;
}

.form-button {
  width: 200px;
  height: 40px;
  margin-left: 50px;
  padding: 10px 20px;
  background-color: #359D32;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-link {
  width: 200px;
  height: 40px;
  padding: 10px 10px;
  background-color: #359D32;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-link:hover {
  background-color: #90D379;
}

.form-button:hover {
  background-color: #90D379;
}

.Infor_Page {
  margin: 50px 60px;
  color: #000;
}

.Infor_Page h1{

  margin: 20px 20px;

}
.Infor_Page h4{
  margin: 10px 40px;
}

.Button_bel {
  background-color: #F48825;
  color: #fff;
  border-color: #F48825;
  border-radius: 10%;
}